/**
 * Copyright 2025 lovelycat
 *
 * Use of this source code is governed by the Apache License, Version 2.0,
 * that can be found in the LICENSE file.
 */
@import "tailwindcss";

#root {
    width: 100%;
    height: 100vh;
}