/**
 * Copyright 2025 lovelycat
 *
 * Use of this source code is governed by the Apache License, Version 2.0,
 * that can be found in the LICENSE file.
 */
@import "tailwindcss";

* {
    min-height: 0;
}

:root {
    --primary-color: #818cf8;
    --primary-color-a-75: rgba(129, 140, 248, 0.75);
    --primary-color-a-50: rgba(129, 140, 248, 0.5);
    --primary-color-a-25: rgba(129, 140, 248, 0.25);
    --on-primary: #ffffff;
    --primary-container: #e0e0ff;
    --on-primary-container: #000767;

    --secondary-color: #8e8fa6;
    --secondary-color-a-75: rgba(142, 143, 166, 0.75);
    --secondary-color-a-50: rgba(142, 143, 166, 0.50);
    --secondary-color-a-25: rgba(142, 143, 166, 0.25);
    --on-secondary-color: #ffffff;
    --secondary-container: #e1e0f9;
    --on-secondary-container: #181a2c;

    --background-color: #2B2D30;
    --background-container: rgba(29, 29, 29, 0.5);
    --on-background-color: #fffbff;
    --on-background-container: #2B2D30;

    --border-color: color-mix(in oklab, #ffffff 6%, transparent);
}

#root {
    width: 100%;
    height: 100vh;
}