/**
 * Copyright 2025 lovelycat
 *
 * Use of this source code is governed by the Apache License, Version 2.0,
 * that can be found in the LICENSE file.
 */
.action-graph-node .header {
    background: radial-gradient(50% 90%, rgba(63, 128, 195, .5) 10%, #3e6b9f 100%);
}

.action-graph-node .title {
    font-size: 1.2em;
    color: #e5e7ff;
    white-space: nowrap;
    font-weight: 500;
    text-overflow: ellipsis;
}

.action-graph-node .subtitle {
    color: #b6b6b6;
    font-weight: 500;
    font-size: 1em;
}