/**
 * Copyright 2025 lovelycat
 *
 * Use of this source code is governed by the Apache License, Version 2.0,
 * that can be found in the LICENSE file.
 */
.base-graph-node {
    min-width: 300px;
    border: 1px solid #000 !important;
    border-radius: 20px !important;
    box-shadow: 0 5px 5px 1px rgba(0,0,0,.3);
    background-color: hsla(0,0%,6%,.55) !important;
    z-index: 1;
    overflow: hidden;
    color: #e5e7ff;
    font-size: 1em;
    cursor: pointer;
    transition: .25s ease;
}

.base-graph-node--selected {
    box-shadow: 0 2px 6px 2px rgba(152, 87, 0, 0.8), 0 0 0 5px rgba(201, 177, 68, 0.8);
    transition: .25s ease;
}

.base-graph-node--selected:hover {
    box-shadow: 0 2px 6px 2px rgba(152, 87, 0, 1), 0 0 0 5px rgba(201, 177, 68, 1);
    transition: .25s ease;
}

.base-graph-node .input {
    display: flex;
    align-items: center;
    font-size: 1.2em;
    justify-content: start;
}

.base-graph-node .output {
    display: flex;
    align-items: center;
    font-size: 1.2em;
    justify-content: end;
}px